body{
    background-color: #FDDBB0;
    color:black;
    max-width:1200px;
}

header{
    font-size: 2em;
    font-weight: bold;
    color:red;
    padding-top:10px;
}

img{
    display:block;
    width:90%;
    height:90%;
    max-width:1200px;
    text-align: center;
    align-items: center;
    padding:20px;
    justify-content: center;
}

header,h1{
    padding-left:20px;
}


