h1,h2{
    font-family:"IM Fell Great Primer" ;
    margin:0;
    padding:20px;
}

h1{
    text-align: center;
    align-items: center;
    font-size:2.5em;
}

h2{
    font-size:2em;
}

body{
    background-color: bisque;
}

img{
    display:block;
    max-width: 100%;
    height:auto;
    align-items: center;
    text-align: center;
}

.draft img{
    align-items: center;
    text-align: center;
    padding:20px;
}

.digital img{
    align-items: center;
    text-align: center;
    padding:20px;
}